<div class="ink-flex push-center footer1">
  <a href="http://twitter.com/explodingcamera"><i class="icon fa fa-twitter"></i></a>&nbsp
  <a href="http://youtube.com/explodingkamera"><i class="icon fa fa-youtube"></i></a>&nbsp
  <a href="http://github.com/explodingcamera"><i class="icon fa fa-github"></i></a>
</div>
