<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="HenryMaxxx">
        <meta name="keywords" content={{keywords}}>
        <meta name="description" content={{description}}>

        <link rel='stylesheet' href="/css/font-awesome.min.css">
        <link rel='stylesheet' href="/css/ink.css">
        <link rel='stylesheet' href="/css/ink-flex.min.css">
        <link rel='stylesheet' href="/css/style.css">
        <link rel='stylesheet' href="/css/sweetalert.css">

        <script src="/js/sweetalert.min.js"></script>
        <script src="/js/ink-all.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    </head>
    <body>
      {{{body}}}
      {{> footer}}
    </body>
</html>
