{{!< default}}
<center>
  <br><br><br><br><br><br>
  <h1 style="color:white;">Usage:</h1>
  <p style="color:white;">
    <code>multitube.cf/<b>VideoID1</b>/<b>VideoID2</b>/</code><br>
    You can also use ?startSeconds= at the end if you<br> want the Video to start at a specific time.
  </p>
  <br><br><br><br><br><br>
  <h1 style="color:white;">Info:</h1>
  <p style="color:white;">
    This Website is still "Work in progress".<br>
    If I have some spare time i'll add a propper<br>
    Homepage
  </p>
</center>
<nav class="ink-navigation ink-flex push-center push-bottom footer">
    <ul class="pagination white footer">
        <li class="footer pause"><a href="https://explodingcamera.com">made by @ExplodingCamera</a></li>
    </ul>
</nav>
