{{!< default}}
<script>
var startSeconds = "{{startSeconds}}"
var video1 = "{{video1}}"
var video2 = "{{video2}}"
</script>

  <script src="/js/main.js"></script>
  <nav class="ink-navigation ink-flex push-center nav">
      <ul class="pagination white">
          <li class="pause"><a href="#"><i class="fa fa-pause"></i></a></li>
          <li class="play active"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
          <li class="restart"><a href="#"><i class="fa fa-refresh"></i></a></li>
          <li class="mute"><a href="#"><i class="fa fa-volume-off"></i></a></li>
          <li class="rewind"><a href="#"><i class="fa fa-backward"></i>    -10s</a></li>
      </ul>
  </nav>
  <div class="ink-flex videos">
    <div class="all-50">
      <div id="player1"></div>
    </div>
    <div class="all-50">
      <div id="player2"></div>
    </div>
  </div>
